# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB Configuration
# Lokal MongoDB uchun:
MONGODB_URI=mongodb://localhost:27017/kvoice

# MongoDB Atlas uchun (quyidagilardan birini uncomment qiling):
# MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/kvoice?retryWrites=true&w=majority

# CORS Configuration (Frontend URL'lar - vergul bilan ajratilgan)
# Development va Production URLs (ikkalasi ham)
CORS_ORIGIN=http://localhost:5173,http://localhost:8080,https://kvoice.vercel.app,https://www.kvoice.vercel.app

# Cloudflare R2 konfiguratsiyasi
# R2 ni ishlatmoqchi bo'lsangiz, quyidagilarni to'ldiring
# Cloudflare R2 konfiguratsiyasi
# R2 ni ishlatmoqchi bo'lsangiz, quyidagilarni to'ldiring
R2_ACCOUNT_ID=dcfcdcb2bb5f1fe932f7523255bcb812
R2_ACCESS_KEY_ID=ecb80d12fbe4d67f222927a573af0f8f
R2_SECRET_ACCESS_KEY=6429398bd7de8fa725a6affa68a176bb97394f906bff6469d60941aa7dc2c40c
R2_BUCKET_NAME=dcfcdcb2bb5f1fe932f7523255bcb812_kvoice-studio
R2_PUBLIC_BASE_URL=https://dcfcdcb2bb5f1fe932f7523255bcb812.r2.cloudflarestorage.com/kvoice-studio
R2_POSTER_FOLDER=PosterPhotos

# API Base URL
# Development: http://localhost:3000
# Production: https://kvoice-studio-back-nows.onrender.com
API_BASE_URL=http://localhost:3000

# Frontend URL
# Development: http://localhost:8080
# Production: https://kvoice.vercel.app
FRONTEND_URL=http://localhost:8080

